@font-face {
    font-family: 'Notosans';
    font-style: normal;
    font-weight: 800;
    src:
    local('Noto Sans CJK JP Bold'),
    local('NotoSansCJKjp-Bold'),
    local('NotoSansJP-Bold'),
    url('fonts/NotoSansJP-Bold.woff') format('woff'),
    url('fonts/NotoSansJP-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Gothampro';
    font-style: normal;
    font-weight: 400;
    src:
    url('fonts/GothamProMedium.woff') format('woff'),
    url('fonts/GothamProMedium.ttf') format('ttf'),;
}

@font-face {
    font-family: 'Gothampro';
    font-style: normal;
    font-weight: 700;
    src:
    url('fonts/GothamBold.woff') format('woff'),
    url('fonts/GothamBold.ttf') format('ttf'),;
}


@font-face {
    font-family: 'Gothampro';
    font-style: normal;
    font-weight: 800;
    src:
    url('fonts/Gotham-Pro-Black.woff') format('woff'),
    url('fonts/Gotham Pro Black.ttf') format('ttf'),;
}



