/*!*****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[3]!./asset_src/stylesheets/style.scss ***!
  \*****************************************************************************************************************************************************************************************************************************/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: auto;
}
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    -webkit-animation-delay: -1ms;
            animation-delay: -1ms;
    -webkit-animation-duration: 1ms;
            animation-duration: 1ms;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    background-attachment: initial;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
  }
}

html {
  background: inherit;
  vertical-align: baseline;
  word-break: normal;
  color: inherit;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
  overflow: visible;
}
hr:not([size]) {
  height: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: inherit inherit 500 unset/1.2 inherit;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0;
}

abbr[title],
abbr[data-bs-original-title],
acronym[title],
acronym[data-bs-original-title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

address {
  font: normal inherit inherit/inherit inherit;
  margin: 0;
}

ol,
ul {
  padding-left: 0;
}

ol,
ul,
dl {
  margin: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
}

dt {
  margin: 0;
}

dd {
  margin: 0;
}

blockquote {
  margin: 0;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 0.875em;
}

mark {
  padding: 0.2em;
  background-color: currentColor;
}

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  cursor: pointer;
  color: #3333e1;
  background-color: transparent;
  text-decoration: none;
  word-break: break-word;
}
a:hover {
  color: #3434e0;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
a:not([href]):not(class), a:not([href]):not([class]):hover {
  cursor: default;
  color: inherit;
  text-decoration: none;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

pre,
code,
kbd,
samp {
  font: 1.05em "Fira Code", "Cascadia Code", Consolas, "Inconsolata", Monaco, Menlo, "Noto Mono", "Roboto Mono", "Droid Sans Mono", "Ubuntu Mono", "Ubuntu Monospace", "Source Code Pro", "Oxygen Mono", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 0.875em;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}

code {
  font-size: 0.875em;
  color: inherit;
  word-wrap: break-word;
}

a > code {
  color: inherit;
}

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: inherit;
  background-color: inherit;
  border-radius: 0.2rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

figure {
  margin: 0;
}

iframe,
img,
input,
select,
textarea {
  height: auto;
  max-width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: top;
}

svg:not([fill]) {
  fill: currentColor;
}
svg:not(:root) {
  overflow: hidden;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
  text-indent: 0;
  border-color: currentColor;
}

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: inherit;
  text-align: left;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
  text-transform: none;
}
button:focus {
  outline: dotted 1px;
  outline: -webkit-focus-ring-color auto 5px;
}

input,
button {
  overflow: visible;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding: 0.25em 0.375em;
}

button,
select {
  text-transform: none;
}

[role=button] {
  cursor: pointer;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  text-transform: none;
  word-wrap: normal;
}
select:not([multiple]):not([size]) {
  background-image: "data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E";
}

::-ms-expand {
  display: none;
}

[list]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button:not(disabled),
[type=button]:not(disabled),
[type=reset]:not(disabled),
[type=submit]:not(disabled) {
  cursor: pointer;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

textarea {
  overflow: auto;
  -ms-overflow-style: scrollbar;
  resize: vertical;
  vertical-align: top;
}

fieldset {
  min-width: 0;
  padding: 0.35em 0.75em 0.625em;
  margin: 0;
  border: 1px solid inherit;
}

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit;
  max-width: 100%;
  white-space: normal;
}
@media (max-width: 1200px) {
  legend {
    font-size: 1.5rem;
  }
}
legend + * {
  clear: left;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

input::-webkit-input-placeholder {
  opacity: 1;
}

input::-moz-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder {
  opacity: 1;
}

input::-ms-input-placeholder {
  opacity: 1;
}

input::placeholder {
  opacity: 1;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

[type=tel],
[type=url],
[type=email],
[type=number] {
  direction: ltr;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

::-moz-ui-invalid {
  box-shadow: none;
}

::-moz-focusring {
  outline: 1px dotted ButtonText;
}

output {
  display: inline-block;
}

iframe {
  border: none;
}

audio,
canvas,
video {
  display: inline;
  display: inline-block;
  zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden=false][hidden=false] {
  display: initial;
}
[aria-hidden=false][hidden=false]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

html {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  color: #000000;
  font-size: 1.6em;
  line-height: 1.5;
  font-family: "Gothampro", sans-serif;
  letter-spacing: 0.05em;
  position: relative;
}

a {
  outline: none;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #000000;
}
a:hover {
  text-decoration: none;
  color: #000000;
}
a:focus {
  outline: none;
  color: #000000;
}

@-webkit-keyframes imghide {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes imghide {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes logo {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes logo {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes mvtitle {
  0% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes mvtitle {
  0% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes mvcopy {
  0% {
    color: transparent;
  }
  50% {
    color: #000000;
  }
  100% {
    color: #000000;
  }
}
@keyframes mvcopy {
  0% {
    color: transparent;
  }
  50% {
    color: #000000;
  }
  100% {
    color: #000000;
  }
}
@-webkit-keyframes mvcopy02 {
  0% {
    color: transparent;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #ffffff;
  }
}
@keyframes mvcopy02 {
  0% {
    color: transparent;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: #ffffff;
  }
}
@-webkit-keyframes mvhide {
  0% {
    width: 0;
  }
  40% {
    width: 100%;
  }
  70% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes mvhide {
  0% {
    width: 0;
  }
  40% {
    width: 100%;
  }
  70% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes aboutbg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aboutbg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes mvkurumi {
  0% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
  }
  100% {
    -webkit-filter: none;
            filter: none;
  }
}
@keyframes mvkurumi {
  0% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
  }
  100% {
    -webkit-filter: none;
            filter: none;
  }
}
:root[data-theme=dark] {
  background: #000000;
  color: #ffffff;
}
:root[data-theme=dark] h1,
:root[data-theme=dark] h2,
:root[data-theme=dark] h3,
:root[data-theme=dark] h4,
:root[data-theme=dark] h5,
:root[data-theme=dark] a,
:root[data-theme=dark] p,
:root[data-theme=dark] ul,
:root[data-theme=dark] li,
:root[data-theme=dark] dl,
:root[data-theme=dark] dt,
:root[data-theme=dark] span,
:root[data-theme=dark] input,
:root[data-theme=dark] textarea {
  color: #ffffff;
}
:root[data-theme=dark] .header__logo h1 a:before {
  background: #ffffff;
}
:root[data-theme=dark] .header__logo h1 a span:before {
  color: #ffffff;
}
:root[data-theme=dark] .header__menu ul li a:before {
  background: #ffffff;
}
:root[data-theme=dark] .header__button {
  background: #000000;
}
:root[data-theme=dark] .header__button:before,
:root[data-theme=dark] .header__button span {
  background: #ffffff;
}
@media screen and (max-width: 1023px) {
  :root[data-theme=dark] .js-spmode {
    background: #000000;
  }
}
:root[data-theme=dark] .btn:before, :root[data-theme=dark] .btn:after {
  background: #ffffff;
}
:root[data-theme=dark] .btn__wrap:before, :root[data-theme=dark] .btn__wrap:after {
  background: #ffffff;
}
:root[data-theme=dark] .btn__wrap__line,
:root[data-theme=dark] .btn__wrap a {
  color: #000000;
}
:root[data-theme=dark] .btn__wrap__line:before, :root[data-theme=dark] .btn__wrap__line:after,
:root[data-theme=dark] .btn__wrap a:before,
:root[data-theme=dark] .btn__wrap a:after {
  background: #ffffff;
}
:root[data-theme=dark] .btn__wrap input {
  color: #000000;
}
:root[data-theme=dark] .btn:hover .btn__wrap__line,
:root[data-theme=dark] .btn:hover a {
  background: #000000;
  color: #ffffff;
}
:root[data-theme=dark] .btn:hover input {
  color: #ffffff;
}
:root[data-theme=dark] .mainvisual:before {
  background: #2d2d2d;
}
:root[data-theme=dark] .mainvisual__title {
  border-left: solid 15px #ffffff;
}
@media screen and (max-width: 1023px) {
  :root[data-theme=dark] .mainvisual__title {
    border-left: solid 8px #ffffff;
  }
}
:root[data-theme=dark] .mainvisual__title:before {
  background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 9px, white 9px, white 11px);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 9px, white 9px, white 11px);
}
@media screen and (max-width: 1023px) {
  :root[data-theme=dark] .mainvisual__title:before {
    background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 4px, white 4px, white 6px);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 4px, white 4px, white 6px);
  }
}
:root[data-theme=dark] .mainvisual__title:after {
  background: #000000;
}
:root[data-theme=dark] .mainvisual__title h2 {
  color: transparent;
  color: transparent;
  overflow: hidden;
  display: table;
  position: relative;
  -webkit-animation: mvcopy02 linear 0.4s forwards;
          animation: mvcopy02 linear 0.4s forwards;
}
:root[data-theme=dark] .mainvisual__title h2:before {
  content: "";
  background: #000000;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: mvhide linear 0.4s forwards;
          animation: mvhide linear 0.4s forwards;
}
:root[data-theme=dark] .mainvisual__title h2:before {
  background: #ffffff;
}
:root[data-theme=dark] .mainvisual__title p {
  color: transparent;
  color: transparent;
  overflow: hidden;
  display: table;
  position: relative;
  -webkit-animation: mvcopy02 linear 0.4s forwards;
          animation: mvcopy02 linear 0.4s forwards;
}
:root[data-theme=dark] .mainvisual__title p:before {
  content: "";
  background: #000000;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: mvhide linear 0.4s forwards;
          animation: mvhide linear 0.4s forwards;
}
:root[data-theme=dark] .mainvisual__title p:before {
  background: #ffffff;
}
:root[data-theme=dark] .mainvisual__wrap {
  background: #888;
}
:root[data-theme=dark] .about h3 {
  color: #2d2d2d;
}
:root[data-theme=dark] .about:after {
  background: #000000;
}
:root[data-theme=dark] .about:before {
  opacity: 0.8;
}
:root[data-theme=dark] .works {
  background-color: #2d2d2d;
  border-color: #ffffff;
}
:root[data-theme=dark] .works h3 {
  color: #000000;
}
:root[data-theme=dark] .works__detail {
  background-color: #000000;
  border-left: solid 1px #ffffff;
}
:root[data-theme=dark] .works__detail:before {
  background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 9px, white 9px, white 11px);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 9px, white 9px, white 11px);
}
:root[data-theme=dark] .works__detail__link a {
  border: solid 1px #ffffff;
}
:root[data-theme=dark] .works__detail__link a:hover:after {
  background: #ffffff;
}
:root[data-theme=dark] .works__img {
  background: #f7f5f2;
}
:root[data-theme=dark] .works__img:before {
  color: #000000;
}
:root[data-theme=dark] .splide__arrows button {
  background: #ffffff;
  color: #000000;
}
:root[data-theme=dark] .contact__detail__comment {
  background: #2d2d2d;
}
:root[data-theme=dark] .contact__detail__comment:before {
  opacity: 0.1;
}
:root[data-theme=dark] .contact .formwrap {
  border-color: #ffffff;
}

@font-face {
  font-family: "Notosans";
  font-style: normal;
  font-weight: 800;
  src: local("Noto Sans CJK JP Bold"), local("NotoSansCJKjp-Bold"), local("NotoSansJP-Bold"), url("fonts/NotoSansJP-Bold.woff") format("woff"), url("fonts/NotoSansJP-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Gothampro";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/GothamProMedium.woff") format("woff"), url("fonts/GothamProMedium.ttf") format("ttf");
}
@font-face {
  font-family: "Gothampro";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Gotham-Pro-Bold.woff") format("woff"), url("fonts/Gotham Pro Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Gothampro";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/Gotham-Pro-Black.woff") format("woff"), url("fonts/Gotham Pro Black.ttf") format("ttf");
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 80px 0 0;
  height: 100vh;
  width: 100%;
}
@media screen and (max-width: 1366px) {
  .header {
    padding: 5.9% 0 0;
  }
}
@media screen and (max-width: 1023px) {
  .header {
    padding: 40px 0;
    z-index: 200;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    height: 80px;
    max-height: 80px;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
  padding-left: 70px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1366px) {
  .header__logo {
    padding: 0 0 0 5.3%;
  }
}
@media screen and (max-width: 1023px) {
  .header__logo {
    padding: 0 0 0 8%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
.header__logo h1 {
  font-weight: 700;
  line-height: 1;
  margin-top: -6px;
  margin-right: 15px;
}
.header__logo h1 a {
  font-size: 1.756954612vw;
  display: block;
  display: block;
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  .header__logo h1 a {
    font-size: 2.34375vw;
  }
}
.header__logo h1 a::before {
  content: "";
  height: 1px;
  width: 0;
  background: #000000;
  left: 0;
  top: 50%;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__logo h1 a:hover::before {
  width: 4.0263543192vw;
  left: 0;
}
@media screen and (max-width: 1023px) {
  .header__logo h1 a:hover::before {
    width: 5.37109375vw;
  }
}
@media screen and (max-width: 1023px) {
  .header__logo h1 a:hover::before {
    display: none;
  }
}
.header__logo h1 a:before {
  top: 13%;
}
.header__logo h1 a span {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  top: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
          perspective: 1000;
}
.header__logo h1 a span:before {
  content: attr(data-hover);
  position: absolute;
  top: 100%;
  color: #000000;
  left: 0;
}
.header__logo h1 a:hover span {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media screen and (max-width: 1023px) {
  .header__logo h1 a:hover span {
    -webkit-transform: none;
            transform: none;
  }
}
.header__logo h1 a span {
  -webkit-animation: logo linear 0.2s;
          animation: logo linear 0.2s;
  display: block;
}
@media screen and (max-width: 1023px) {
  .header__logo h1 a {
    font-size: 2.5622254758vw;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .header__logo h1 a {
    font-size: 3.41796875vw;
  }
}
@media screen and (max-width: 767px) {
  .header__logo h1 a {
    font-size: 4.39238653vw;
  }
}
@media screen and (max-width: 767px) and (max-width: 1023px) {
  .header__logo h1 a {
    font-size: 5.859375vw;
  }
}
@media screen and (max-width: 1366px) {
  .header__logo h1 {
    margin-right: 1.2%;
    margin-top: -8px;
  }
}
.header__cv {
  position: absolute;
  top: 6%;
  right: 5.3%;
}
.header__cv .btn {
  font-size: 1.317715959vw;
  position: relative;
  z-index: 1;
  width: 13.9092240117vw;
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .header__cv .btn {
    font-size: 1.7578125vw;
  }
}
@media screen and (max-width: 1023px) {
  .header__cv .btn {
    width: 18.5546875vw;
  }
}
@media screen and (max-width: 1023px) {
  .header__cv .btn {
    width: 100%;
    font-size: 3.074670571vw;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .header__cv .btn {
    font-size: 4.1015625vw;
  }
}
.header__cv .btn::before, .header__cv .btn::after {
  content: "";
  position: absolute;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.header__cv .btn::before {
  width: calc(100% - 1px);
  height: calc(100% + 1px);
  background: #000000;
  top: 0;
  right: 0;
}
.header__cv .btn::after {
  width: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 85%;
  height: 1px;
  background: #000000;
}
.header__cv .btn__wrap {
  position: relative;
  width: 100%;
  display: block;
}
.header__cv .btn__wrap::before, .header__cv .btn__wrap::after {
  content: "";
  position: absolute;
  background: #000000;
  top: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  width: 0;
  height: 0;
}
.header__cv .btn__wrap::before {
  left: 0;
}
.header__cv .btn__wrap::after {
  right: 0;
}
.header__cv .btn__wrap__line,
.header__cv .btn a {
  display: block;
  color: #FFF;
  width: 100%;
  padding: 5% 0;
  text-align: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .header__cv .btn__wrap__line,
.header__cv .btn a {
    padding: 3% 0;
    -webkit-transition: none;
    transition: none;
  }
}
.header__cv .btn__wrap__line::before, .header__cv .btn__wrap__line::after,
.header__cv .btn a::before,
.header__cv .btn a::after {
  content: "";
  position: absolute;
  background: #000000;
  bottom: -1px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  width: 0;
  height: 0;
}
.header__cv .btn__wrap__line::before,
.header__cv .btn a::before {
  right: 0;
}
.header__cv .btn__wrap__line::after,
.header__cv .btn a::after {
  left: -1px;
}
.header__cv .btn:hover::before {
  width: 0;
}
.header__cv .btn:hover::after {
  width: 30%;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
@media screen and (max-width: 1023px) {
  .header__cv .btn:hover::before, .header__cv .btn:hover:after {
    display: none;
    -webkit-transition: none;
    transition: none;
  }
}
.header__cv .btn:hover .btn__wrap::before {
  width: 100%;
  height: 1px;
}
.header__cv .btn:hover .btn__wrap:after {
  height: calc(100% + 1px);
  width: 1px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
@media screen and (max-width: 1023px) {
  .header__cv .btn:hover .btn__wrap::before, .header__cv .btn:hover .btn__wrap:after {
    display: none;
    -webkit-transition: none;
    transition: none;
  }
}
.header__cv .btn:hover .btn__wrap__line,
.header__cv .btn:hover a {
  background: #ffffff;
  color: #000000;
}
.header__cv .btn:hover .btn__wrap__line::before,
.header__cv .btn:hover a::before {
  width: 100%;
  height: 1px;
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}
.header__cv .btn:hover .btn__wrap__line:after,
.header__cv .btn:hover a:after {
  height: calc(100% + 1px);
  width: 1px;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
@media screen and (max-width: 1023px) {
  .header__cv .btn:hover .btn__wrap__line,
.header__cv .btn:hover a {
    background: #000000;
    color: #ffffff;
    -webkit-transition: none;
    transition: none;
  }
  .header__cv .btn:hover .btn__wrap__line::before, .header__cv .btn:hover .btn__wrap__line:after,
.header__cv .btn:hover a::before,
.header__cv .btn:hover a:after {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .header__cv {
    position: relative;
    width: 84%;
    top: initial;
    right: initial;
    margin: 15% 0 0 8%;
    -webkit-transform: translateY(-1000%);
            transform: translateY(-1000%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
  }
}
.header .switch {
  position: relative;
  margin-top: -7px;
  min-width: 70px;
}
@media screen and (max-width: 1023px) {
  .header .switch {
    margin-top: -6px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateY(-85px);
            transform: translateY(-85px);
    width: 70px;
    margin-right: 8%;
  }
}
.header .switch input[type=checkbox] {
  display: none;
}
.header .switch input[type=checkbox] + label {
  width: 6.0761346999vw;
  font-size: 0.878477306vw;
  border-radius: 20px 20px;
  background: #e8e5df;
  position: relative;
  display: block;
  padding: 5% 5px 5% 30%;
  line-height: 1;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #888;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
@media screen and (max-width: 1023px) {
  .header .switch input[type=checkbox] + label {
    width: 8.10546875vw;
  }
}
@media screen and (max-width: 1023px) {
  .header .switch input[type=checkbox] + label {
    font-size: 1.171875vw;
  }
}
@media screen and (max-width: 1366px) {
  .header .switch input[type=checkbox] + label {
    padding: 9% 5px 5% 20px;
  }
}
@media screen and (max-width: 1023px) {
  .header .switch input[type=checkbox] + label {
    width: 80px;
    padding: 8% 5px 8% 40%;
    font-size: 12px;
  }
}
.header .switch input[type=checkbox] + label::before {
  content: "";
  width: 18%;
  padding-top: 18%;
  min-height: 13px;
  background: #FFF;
  border-radius: 50%;
  position: absolute;
  top: 12%;
  left: 5%;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(80, 80, 80, 0.42);
          box-shadow: 0px 1px 0px 0px rgba(80, 80, 80, 0.42);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
@media screen and (max-width: 1023px) {
  .header .switch input[type=checkbox] + label::before {
    width: 18px;
    height: 18px;
    top: 13%;
  }
}
.header .switch input[type=checkbox]:checked + label {
  background: #2d2d2d;
  padding: 5% 5px 5% 20%;
}
@media screen and (max-width: 1023px) {
  .header .switch input[type=checkbox]:checked + label {
    padding: 9% 5px 8% 20%;
  }
}
.header .switch input[type=checkbox]:checked + label::before {
  left: 78%;
}
.header__menu {
  font-size: 1.4641288433vw;
}
@media screen and (max-width: 1023px) {
  .header__menu {
    font-size: 1.953125vw;
  }
}
@media screen and (max-width: 1023px) {
  .header__menu {
    font-size: 20px;
    margin-top: 10%;
    -webkit-transform: translateY(-1000%);
            transform: translateY(-1000%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
  }
}
.header__menu ul {
  position: relative;
  z-index: 1;
}
.header__menu ul li {
  margin-bottom: 15px;
  padding-left: 70px;
  position: relative;
}
@media screen and (max-width: 1366px) {
  .header__menu ul li {
    padding: 0 0 0 5.3%;
  }
}
@media screen and (max-width: 1023px) {
  .header__menu ul li {
    padding: 0 0 0 8%;
  }
}
.header__menu ul li a {
  display: block;
  display: inline-block;
}
.header__menu ul li a::before {
  content: "";
  height: 1px;
  width: 0;
  background: #000000;
  left: 0;
  top: 50%;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__menu ul li a:hover::before {
  width: 4.0263543192vw;
  left: 0;
}
@media screen and (max-width: 1023px) {
  .header__menu ul li a:hover::before {
    width: 5.37109375vw;
  }
}
@media screen and (max-width: 1023px) {
  .header__menu ul li a:hover::before {
    display: none;
  }
}
.header__menu ul li a:hover {
  letter-spacing: 3px;
}
@media screen and (max-width: 1023px) {
  .header__menu ul li a:hover {
    letter-spacing: 0.8px;
  }
}
.header__button {
  position: absolute;
  outline: none;
  border: none;
  top: 0;
  right: 0;
  width: 80px;
  height: 75px;
  background: #FFF;
  z-index: 300;
  border: none;
  padding: 25px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: none;
}
@media screen and (max-width: 1023px) {
  .header__button {
    display: block;
  }
}
.header__button:focus {
  outline: none;
  border: none;
}
.header__button:before {
  content: "";
  position: absolute;
  height: 3px;
  background: #000000;
  width: 35px;
  left: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header__button span {
  position: absolute;
  height: 3px;
  background: #000000;
  width: 35px;
  left: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header__button__line {
  top: 30px;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}
.header__button__hidden {
  bottom: 27px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.js-spmode {
  height: auto;
  max-height: 80vh;
  background: #ffffff;
}
.js-spmode .switch {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.js-spmode .header__menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.js-spmode .header__cv {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.js-spmode .header__button {
  top: 100%;
}
.js-spmode .header__button:before {
  content: none;
}
.js-spmode .header__button span {
  left: 22px;
}
.js-spmode .header__button__line {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 35px;
}
.js-spmode .header__button__hidden {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 38px;
}

_::-webkit-full-page-media, _:future, :root .header__logo h1 {
  white-space: nowrap;
}

_::-webkit-full-page-media, _:future, :root .header .switch input[type=checkbox] + label {
  min-height: 20px;
}

_::-webkit-full-page-media, _:future, :root .header .switch input[type=checkbox] + label::before {
  min-height: 18px;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.mainvisual {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 1023px) {
  .mainvisual {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 80px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.mainvisual::before {
  content: "";
  position: absolute;
  width: 13.91%;
  height: 100vh;
  background: #f7f5f2;
  left: 0;
  top: 0;
  z-index: -1;
}
@media screen and (max-width: 1023px) {
  .mainvisual::before {
    width: 13.9092240117vw;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .mainvisual::before {
    width: 18.5546875vw;
  }
}
.mainvisual__wrap {
  width: 50%;
  background: #f7f5f2;
  padding-top: 60vh;
  overflow: hidden;
  position: relative;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 1023px) {
  .mainvisual__wrap {
    width: 92%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.mainvisual__wrap::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  right: 0;
  top: 0;
  z-index: 1;
  -webkit-animation: imghide cubic-bezier(0.17, 0.67, 0.88, 0.45) 0.2s forwards;
          animation: imghide cubic-bezier(0.17, 0.67, 0.88, 0.45) 0.2s forwards;
}
.mainvisual__wrap img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 150%;
  right: 4%;
  margin-top: 8%;
  -webkit-animation: mvkurumi cubic-bezier(0.17, 0.67, 0.88, 0.45) 0.8s forwards;
          animation: mvkurumi cubic-bezier(0.17, 0.67, 0.88, 0.45) 0.8s forwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}
@media screen and (max-width: 1023px) {
  .mainvisual__wrap img {
    max-width: 164%;
    margin-top: 20%;
  }
}
.mainvisual__title {
  border-left: solid 15px #000000;
  position: absolute;
  left: 30%;
  bottom: 13%;
  padding-left: 3%;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .mainvisual__title {
    left: 8%;
    border-left: solid 8px #000000;
    padding: 1.5% 0 0 6%;
    width: 100%;
    position: relative;
    bottom: initial;
    margin-top: -6%;
  }
}
.mainvisual__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 5%;
  width: 12px;
  height: 100%;
  background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 9px, black 9px, black 11px);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 9px, black 9px, black 11px);
}
@media screen and (max-width: 1023px) {
  .mainvisual__title::before {
    background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 4px, black 4px, black 6px);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 4px, black 4px, black 6px);
    width: 8px;
  }
}
.mainvisual__title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 105%;
  top: 0;
  right: 95%;
  background: #ffffff;
  z-index: 1;
  -webkit-animation: mvtitle cubic-bezier(0.17, 0.67, 0.88, 0.45) 0.2s forwards;
          animation: mvtitle cubic-bezier(0.17, 0.67, 0.88, 0.45) 0.2s forwards;
}
.mainvisual__title h2 {
  font-size: 5.1976573939vw;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 0.08em;
  margin-bottom: 1%;
  color: transparent;
  overflow: hidden;
  display: table;
  position: relative;
  -webkit-animation: mvcopy linear 0.4s forwards;
          animation: mvcopy linear 0.4s forwards;
  white-space: nowrap;
}
@media screen and (max-width: 1023px) {
  .mainvisual__title h2 {
    font-size: 6.93359375vw;
  }
}
.mainvisual__title h2:before {
  content: "";
  background: #000000;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: mvhide linear 0.4s forwards;
          animation: mvhide linear 0.4s forwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media screen and (max-width: 1023px) {
  .mainvisual__title h2 {
    font-size: 6.9546120059vw;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .mainvisual__title h2 {
    font-size: 9.27734375vw;
  }
}
.mainvisual__title p {
  font-size: 2.5622254758vw;
  color: transparent;
  overflow: hidden;
  display: table;
  position: relative;
  -webkit-animation: mvcopy linear 0.4s forwards;
          animation: mvcopy linear 0.4s forwards;
  white-space: nowrap;
}
@media screen and (max-width: 1023px) {
  .mainvisual__title p {
    font-size: 3.41796875vw;
  }
}
.mainvisual__title p:before {
  content: "";
  background: #000000;
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: mvhide linear 0.4s forwards;
          animation: mvhide linear 0.4s forwards;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media screen and (max-width: 1023px) {
  .mainvisual__title p {
    font-size: 3.6603221083vw;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .mainvisual__title p {
    font-size: 4.8828125vw;
  }
}

.about {
  height: 100vh;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .about {
    padding: 0 8% 45vh;
    height: auto;
  }
}
.about:before {
  content: "";
  width: 50%;
  left: 50%;
  top: 0;
  height: 100%;
  position: absolute;
  background: url(../img/about_bg01.webp) no-repeat;
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}
@media screen and (max-width: 1023px) {
  .about:before {
    width: 100%;
    top: initial;
    bottom: 0;
    height: 40vh;
    left: 0;
  }
}
.about:after {
  content: "";
  width: 50%;
  left: 50%;
  top: 0;
  height: 100%;
  position: absolute;
  background: #ffffff;
  z-index: 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
@media screen and (max-width: 1023px) {
  .about:after {
    width: 100%;
    top: initial;
    bottom: 0;
    height: 50vh;
  }
}
.about.js-bg01:before {
  background-image: url(../img/about_bg01.webp);
  opacity: 1;
}
.about.js-bg02:before {
  background-image: url(../img/about_bg02.webp);
  opacity: 1;
}
.about.js-bg03:before {
  background-image: url(../img/about_bg03.webp);
  opacity: 1;
}
.about.js-bg04:before {
  background-image: url(../img/about_bg04.webp);
  opacity: 1;
}
.about.js-bg05:before {
  background-image: url(../img/about_bg05.webp);
  opacity: 1;
}
.about h3 {
  position: absolute;
  top: 20%;
  left: 13.5%;
  font-size: 17.7159590044vw;
  color: #f7f5f2;
  font-weight: 800;
  line-height: 0;
  letter-spacing: 20px;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .about h3 {
    font-size: 23.6328125vw;
  }
}
@media screen and (max-width: 1023px) {
  .about h3 {
    font-size: 14.6412884334vw;
    left: 8%;
    letter-spacing: 10px;
    top: 10%;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .about h3 {
    font-size: 19.53125vw;
  }
}
.about .wrap {
  width: 73.2064421669vw;
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  .about .wrap {
    width: 97.65625vw;
  }
}
@media screen and (max-width: 1023px) {
  .about .wrap {
    width: 100%;
  }
}
.about dl {
  padding-top: 23vh;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1023px) {
  .about dl {
    padding-top: 15vh;
  }
}
.about dl dt {
  font-size: 2.635431918vw;
  display: inline-block;
  margin-bottom: 2.5%;
  line-height: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
@media screen and (max-width: 1023px) {
  .about dl dt {
    font-size: 3.515625vw;
  }
}
.about dl dt::before {
  content: "";
  height: 1px;
  width: 0;
  background: #000000;
  left: -100%;
  top: 50%;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 1023px) {
  .about dl dt::before {
    content: none;
  }
}
.about dl dt:hover {
  letter-spacing: 3px;
}
.about dl dt:hover:before {
  width: 99.5%;
}
@media screen and (max-width: 1023px) {
  .about dl dt:hover {
    letter-spacing: 0.04em;
  }
}
@media screen and (max-width: 1023px) {
  .about dl dt {
    font-size: 2.8vh;
    margin-bottom: 0;
    padding-bottom: 4vh;
  }
}
.about dl dt span {
  font-size: 1.317715959vw;
  margin: 0 0 0 5px;
}
@media screen and (max-width: 1023px) {
  .about dl dt span {
    font-size: 1.7578125vw;
  }
}
@media screen and (max-width: 1023px) {
  .about dl dt span {
    font-size: 1.6105417277vw;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .about dl dt span {
    font-size: 2.1484375vw;
  }
}
.about dl dt.js-open:before {
  width: 99.5%;
}
.about dl dt.js-open + dd {
  height: auto;
}
.about dl dd {
  height: 0;
  font-size: 1.1713030747vw;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
  line-height: 2.2;
  font-family: "Notosans", sans-serif;
}
@media screen and (max-width: 1023px) {
  .about dl dd {
    font-size: 1.5625vw;
  }
}
@media screen and (max-width: 1023px) {
  .about dl dd br {
    display: none;
  }
}
.about dl dd span {
  padding: 2% 0 4%;
  display: block;
}
@media screen and (max-width: 1023px) {
  .about dl dd span {
    padding: 0 0 8%;
    font-size: 2vh;
  }
}

.js-active .about:after {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.works {
  height: 100vh;
  background: #f7f5f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1023px) {
  .works {
    display: block;
    height: auto;
    padding: 50px 0;
  }
}
.works .wrap {
  width: 73.2064421669vw;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .works .wrap {
    width: 97.65625vw;
  }
}
@media screen and (max-width: 1023px) {
  .works .wrap {
    width: 100%;
  }
}
.works__img {
  position: relative;
  width: 62%;
  height: 55vh;
  overflow: hidden;
  background: #2d2d2d;
}
.works__img img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}
.works__img::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "PRIVATE";
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 4.0995607613vw;
  color: #ffffff;
}
@media screen and (max-width: 1023px) {
  .works__img::before {
    font-size: 5.46875vw;
  }
}
@media screen and (max-width: 1023px) {
  .works__img {
    width: 100%;
    height: 40vh;
  }
}
.works__detail {
  position: absolute;
  bottom: -10%;
  right: 0;
  width: 40.9956076135vw;
  background: #ffffff;
  padding: 0 5% 0;
  height: 45vh;
  min-height: 330px;
  border-left: solid 1px #000000;
}
@media screen and (max-width: 1023px) {
  .works__detail {
    width: 54.6875vw;
  }
}
@media screen and (max-width: 1023px) {
  .works__detail {
    position: relative;
    width: 84%;
    margin: -20px auto 0;
    padding: 0 36px 20px;
  }
}
.works__detail::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 4px, black 4px, black 6px);
  background-image: repeating-linear-gradient(45deg, transparent, transparent 4px, black 4px, black 6px);
}
.works__detail ul {
  position: relative;
  height: 100%;
}
.works__detail ul li {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding-top: 5vh;
}
@media screen and (max-width: 1023px) {
  .works__detail ul li {
    padding-top: 35px;
  }
}
.works__detail .js-show {
  opacity: 1;
  top: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  z-index: 1;
}
.works__detail__title {
  margin-bottom: 2vh;
}
.works__detail__title h4 {
  font-size: 1.9033674963vw;
  line-height: 1.4;
}
@media screen and (max-width: 1023px) {
  .works__detail__title h4 {
    font-size: 2.5390625vw;
  }
}
@media screen and (max-width: 1023px) {
  .works__detail__title h4 {
    font-size: 2.8vh;
    line-height: 1.4;
  }
}
.works__detail__title p {
  font-size: 1.0248901903vw;
  font-family: "Notosans";
}
@media screen and (max-width: 1023px) {
  .works__detail__title p {
    font-size: 1.3671875vw;
  }
}
@media screen and (max-width: 1023px) {
  .works__detail__title p {
    font-size: 1.6vh;
  }
}
@media screen and (max-width: 1023px) {
  .works__detail__title {
    margin-bottom: 5px;
  }
}
.works__detail__text {
  margin-bottom: 20px;
}
.works__detail__text p {
  font-size: 1.1713030747vw;
  line-height: 2;
  font-family: "Notosans";
}
@media screen and (max-width: 1023px) {
  .works__detail__text p {
    font-size: 1.5625vw;
  }
}
@media screen and (max-width: 1023px) {
  .works__detail__text p {
    font-size: 2vh;
  }
}
.works__detail__tags {
  margin-bottom: 4%;
}
.works__detail__tags p {
  display: inline-block;
  font-size: 1.0248901903vw;
}
@media screen and (max-width: 1023px) {
  .works__detail__tags p {
    font-size: 1.3671875vw;
  }
}
.works__detail__tags p:before {
  content: "-";
  margin-right: 5px;
  line-height: 1.8;
}
@media screen and (max-width: 1023px) {
  .works__detail__tags p {
    font-size: 2.0497803807vw;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .works__detail__tags p {
    font-size: 2.734375vw;
  }
}
@media screen and (max-width: 1023px) {
  .works__detail__tags {
    margin-bottom: 5px;
  }
}
.works__detail__link a {
  display: inline-block;
  padding: 3% 10%;
  border: #000000 solid 1px;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .works__detail__link a {
    font-size: 2.3426061493vw;
    padding: 5% 20%;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .works__detail__link a {
    font-size: 3.125vw;
  }
}
.works__detail__link a::after {
  content: "";
  position: absolute;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  width: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 85%;
  height: 1px;
  background: #000000;
}
.works__detail__link a:hover::after {
  width: 30%;
}
@media screen and (max-width: 1023px) {
  .works__detail__link a:hover:after {
    display: none;
  }
}
.works h3 {
  position: absolute;
  color: #ffffff;
  font-size: 7.3206442167vw;
  bottom: 95%;
  right: 0;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 5px;
}
@media screen and (max-width: 1023px) {
  .works h3 {
    font-size: 9.765625vw;
  }
}
@media screen and (max-width: 1023px) {
  .works h3 {
    font-size: 10.980966325vw;
    right: -8%;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .works h3 {
    font-size: 14.6484375vw;
  }
}

.splide {
  width: 80%;
}
@media screen and (max-width: 1023px) {
  .splide {
    width: 100%;
  }
}
.splide__track {
  overflow: visible;
}
.splide__arrows {
  position: absolute;
  bottom: -16%;
  right: -25%;
  z-index: 2;
}
.splide__arrows button {
  width: 65px;
  height: 65px;
  background: #000000;
  color: #ffffff;
  outline: none;
  letter-spacing: 0;
  border: none;
  margin-left: 1px;
}
@media screen and (max-width: 1023px) {
  .splide__arrows {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    bottom: calc(50% - 50px);
    right: 0;
  }
  .splide__arrows button {
    width: 50px;
    height: 50px;
    font-size: 4vw;
  }
}

.contact {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1023px) {
  .contact {
    display: block;
    height: auto;
    padding-top: 5vh;
  }
}
.contact .wrap {
  width: 73.2064421669vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .contact .wrap {
    width: 97.65625vw;
  }
}
@media screen and (max-width: 1023px) {
  .contact .wrap {
    width: 84%;
    display: block;
  }
}
.contact__detail {
  width: 50%;
}
@media screen and (max-width: 1023px) {
  .contact__detail {
    width: 100%;
  }
}
.contact__detail h3 {
  font-size: 7.3206442167vw;
  font-weight: 800;
  letter-spacing: 5px;
}
@media screen and (max-width: 1023px) {
  .contact__detail h3 {
    font-size: 9.765625vw;
  }
}
@media screen and (max-width: 1023px) {
  .contact__detail h3 {
    font-size: 8.78477306vw;
    margin-bottom: 3%;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .contact__detail h3 {
    font-size: 11.71875vw;
  }
}
.contact__detail__title {
  margin-bottom: 5%;
}
.contact__detail__title p {
  line-height: 1.2;
  font-size: 5.3440702782vw;
}
.contact__detail__title p span {
  font-size: 2.196193265vw;
  display: block;
}
@media screen and (max-width: 1023px) {
  .contact__detail__title p span {
    font-size: 2.9296875vw;
  }
}
@media screen and (max-width: 1023px) {
  .contact__detail__title p span {
    font-size: 3.6603221083vw;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .contact__detail__title p span {
    font-size: 4.8828125vw;
  }
}
@media screen and (max-width: 1023px) {
  .contact__detail__title p {
    font-size: 7.12890625vw;
  }
}
@media screen and (max-width: 1023px) {
  .contact__detail__title p {
    font-size: 7.3206442167vw;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .contact__detail__title p {
    font-size: 9.765625vw;
  }
}
.contact__detail__comment {
  padding: 5vh 8%;
  background: #f7f5f2;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  .contact__detail__comment {
    padding: 3vh 8%;
  }
}
.contact__detail__comment p {
  font-size: 1.1713030747vw;
  line-height: 2;
  position: relative;
  z-index: 1;
  font-family: "Notosans";
}
@media screen and (max-width: 1023px) {
  .contact__detail__comment p {
    font-size: 1.5625vw;
  }
}
@media screen and (max-width: 1023px) {
  .contact__detail__comment p {
    font-size: 2vh;
  }
}
.contact__detail__comment:before {
  position: absolute;
  content: "YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE YATOTTE";
  color: #ffffff;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  font-size: 1.1713030747vw;
}
@media screen and (max-width: 1023px) {
  .contact__detail__comment:before {
    font-size: 1.5625vw;
  }
}
@media screen and (max-width: 1023px) {
  .contact__detail__comment:before {
    font-size: 16px;
  }
}
.contact__way {
  width: 40%;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .contact__way {
    width: 100%;
  }
}
.contact__way__sns {
  margin-top: 5vh;
}
.contact__way__sns ul li {
  margin-bottom: 1%;
}
.contact__way__sns ul li::before {
  content: "-";
  margin-right: 5px;
}
.contact__way__sns ul li a {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
@media screen and (max-width: 1023px) {
  .contact__way__sns ul li a {
    font-size: 3.074670571vw;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .contact__way__sns ul li a {
    font-size: 4.1015625vw;
  }
}
.contact__way__sns ul li a:hover {
  letter-spacing: 3px;
}
.contact__way__form {
  padding-top: 6vh;
}
@media screen and (max-width: 1023px) {
  .contact__way__form {
    padding-top: 4vh;
  }
}
.contact__way__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}
.contact__way__form p {
  width: 100%;
}
.contact__way__form .formwrap {
  width: 100%;
  border-bottom: solid 2px #000000;
  margin-bottom: 3vh;
}
.contact__way__form .formwrap input,
.contact__way__form .formwrap textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 2%;
}
.contact__way__form .btn {
  font-size: 1.317715959vw;
  position: relative;
  z-index: 1;
  width: 13.9092240117vw;
  cursor: pointer;
  margin-top: 5%;
}
@media screen and (max-width: 1023px) {
  .contact__way__form .btn {
    font-size: 1.7578125vw;
  }
}
@media screen and (max-width: 1023px) {
  .contact__way__form .btn {
    width: 18.5546875vw;
  }
}
@media screen and (max-width: 1023px) {
  .contact__way__form .btn {
    width: 100%;
    font-size: 3.074670571vw;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .contact__way__form .btn {
    font-size: 4.1015625vw;
  }
}
.contact__way__form .btn::before, .contact__way__form .btn::after {
  content: "";
  position: absolute;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.contact__way__form .btn::before {
  width: calc(100% - 1px);
  height: calc(100% + 1px);
  background: #000000;
  top: 0;
  right: 0;
}
.contact__way__form .btn::after {
  width: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 85%;
  height: 1px;
  background: #000000;
}
.contact__way__form .btn__wrap {
  position: relative;
  width: 100%;
  display: block;
}
.contact__way__form .btn__wrap::before, .contact__way__form .btn__wrap::after {
  content: "";
  position: absolute;
  background: #000000;
  top: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  width: 0;
  height: 0;
}
.contact__way__form .btn__wrap::before {
  left: 0;
}
.contact__way__form .btn__wrap::after {
  right: 0;
}
.contact__way__form .btn__wrap__line,
.contact__way__form .btn a {
  display: block;
  color: #FFF;
  width: 100%;
  padding: 5% 0;
  text-align: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  z-index: 1;
}
@media screen and (max-width: 1023px) {
  .contact__way__form .btn__wrap__line,
.contact__way__form .btn a {
    padding: 3% 0;
    -webkit-transition: none;
    transition: none;
  }
}
.contact__way__form .btn__wrap__line::before, .contact__way__form .btn__wrap__line::after,
.contact__way__form .btn a::before,
.contact__way__form .btn a::after {
  content: "";
  position: absolute;
  background: #000000;
  bottom: -1px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  width: 0;
  height: 0;
}
.contact__way__form .btn__wrap__line::before,
.contact__way__form .btn a::before {
  right: 0;
}
.contact__way__form .btn__wrap__line::after,
.contact__way__form .btn a::after {
  left: -1px;
}
.contact__way__form .btn:hover::before {
  width: 0;
}
.contact__way__form .btn:hover::after {
  width: 30%;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
@media screen and (max-width: 1023px) {
  .contact__way__form .btn:hover::before, .contact__way__form .btn:hover:after {
    display: none;
    -webkit-transition: none;
    transition: none;
  }
}
.contact__way__form .btn:hover .btn__wrap::before {
  width: 100%;
  height: 1px;
}
.contact__way__form .btn:hover .btn__wrap:after {
  height: calc(100% + 1px);
  width: 1px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
@media screen and (max-width: 1023px) {
  .contact__way__form .btn:hover .btn__wrap::before, .contact__way__form .btn:hover .btn__wrap:after {
    display: none;
    -webkit-transition: none;
    transition: none;
  }
}
.contact__way__form .btn:hover .btn__wrap__line,
.contact__way__form .btn:hover a {
  background: #ffffff;
  color: #000000;
}
.contact__way__form .btn:hover .btn__wrap__line::before,
.contact__way__form .btn:hover a::before {
  width: 100%;
  height: 1px;
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}
.contact__way__form .btn:hover .btn__wrap__line:after,
.contact__way__form .btn:hover a:after {
  height: calc(100% + 1px);
  width: 1px;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
@media screen and (max-width: 1023px) {
  .contact__way__form .btn:hover .btn__wrap__line,
.contact__way__form .btn:hover a {
    background: #000000;
    color: #ffffff;
    -webkit-transition: none;
    transition: none;
  }
  .contact__way__form .btn:hover .btn__wrap__line::before, .contact__way__form .btn:hover .btn__wrap__line:after,
.contact__way__form .btn:hover a::before,
.contact__way__form .btn:hover a:after {
    display: none;
  }
}
.contact__way__form .btn input {
  border: none;
  outline: none;
}
.contact__way__form .btn:hover input {
  color: #000000;
}
.contact__way__thanks {
  text-align: right;
  margin-top: 5vh;
}
@media screen and (max-width: 1023px) {
  .contact__way__thanks {
    padding-bottom: 5vh;
    font-size: 2.3426061493vw;
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .contact__way__thanks {
    font-size: 3.125vw;
  }
}

#dispmsg p {
  padding: 5% 5% 1%;
  background: #888;
  font-size: 1.756954612vw;
}
@media screen and (max-width: 1023px) {
  #dispmsg p {
    font-size: 2.34375vw;
  }
}
