@use "../config/config" as config;
//base css sets

html {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
} 


body {
    color: config.$black;
    font-size: 1.6em;
    line-height: 1.5;
    font-family: 'Gothampro', sans-serif;
    letter-spacing: 0.05em;
    position: relative;
}


a {
    outline: none; 
    text-decoration: none;
    transition: .2s;
    color: config.$black;
    &:hover {
        text-decoration: none;
        color: config.$black;
    }

    &:focus {
        outline: none;
        color: config.$black;
    }
}


