@use "../config/config"as config;
@use "../mixin/mixin"as mixin;

.header {
  position: absolute;
  top:0;
  left: 0;
  padding: 80px 0 0;
  height: 100vh;
  width: 100%;

  @include config.mq(md) {
    padding: 5.9% 0 0;
  }
  @include config.mq() {
    padding: 40px 0;
    z-index: 200;
    transition: all .5s;
    height: 80px;
    max-height: 80px;
    
  }
  

 
  &__logo {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-left: 70px;
    position: relative;
    z-index: 1;
   
    @include config.mq(md) {
      padding: 0 0 0 5.3%;
    }
    @include config.mq() {
      padding: 0 0 0 8%;
      justify-content: space-between;
      width: 100%; 
    }

    h1 {
      font-weight: 700;
      line-height: 1;
      margin-top: -6px;
   
      
     
      a {
        @include mixin.font_vw(24);
        @include mixin.menuline();
        display: block;
        
        &:before{
          top: 13%;
        }
        
        
        @include mixin.menuhover();
        span{
          animation: logo linear .2s;
          display: block;
         
        }
        @include config.mq() {
          @include mixin.font_vw(35);
          
        }
        @include config.mq(sp) {
          @include mixin.font_vw(60);
          
        }
      }

      margin-right: 15px;

      @include config.mq(md) {
        margin-right: 1.2%;
        margin-top: -8px;
      }

    }
  }

  &__cv {
    position: absolute;
    top: 6%;
    right: 5.3%;
    
    .btn{
      @include mixin.btn();
    }
    @include config.mq() {
      position: relative;
      width: calc(100% - 16%);
      top: initial;
      right: initial;
      margin:15% 0 0 8%;
      transform: translateY(-1000%);
      transition: all .5s;
      opacity: 0;
    }
  }

  .switch {
    position: relative;
    margin-top: -7px;
    min-width: 70px;
    
    @include config.mq() {
      margin-top: -6px;
      transition: all .5s;
      transform: translateY(-85px);
      width: 70px;
      margin-right: 8%;
    }

    input[type="checkbox"]{
      display: none;
      & + label{
        @include mixin.width_vw(83);
        
        @include mixin.font_vw(12);
        border-radius: 20px 20px;
        background: #e8e5df;
        position: relative;
        display: block;
        padding: 5% 5px 5% 30%;
        line-height: 1;
        letter-spacing: 0.02em;
        cursor: pointer;
        color: config.$glay;
        transition: .5s all;

        @include config.mq(md) {
        
          padding: 9% 5px 5% 20px;
          
        }
        
        @include config.mq() {
          width: 80px;
          padding: 8% 5px 8% 40%;
          font-size: 12px;
        }
        &::before {
          content: "";
          width: 18%;
          padding-top: 18%;
          min-height: 13px;
         
          background: #FFF;
          border-radius: 50%;
          position: absolute; 
          top: 12%;
          left: 5%;
          box-shadow: 0px 1px 0px 0px rgba(80, 80, 80, 0.42);
          transition: .5s all;
          @include config.mq() {
            width: 18px;
            height: 18px;
            top: 13%;
          }
        }
      }
      &:checked + label{
        background: #2d2d2d;
        padding: 5% 5px 5% 20%;
        @include config.mq() {
          padding: 9% 5px 8% 20%;
        }
        &::before {
          left: 78%;
        }
      }
    }
   

   
  }

  &__menu {
    @include mixin.font_vw(20);
    @include config.mq() {
      font-size: 20px;
      margin-top: 10%;
      transform: translateY(-1000%);
      transition: all .5s;
      opacity: 0;
    }
    ul {
      position: relative;
      z-index: 1;
      li {
        margin-bottom: 15px;
        padding-left: 70px;
        position: relative;
        @include config.mq(md) {
          padding: 0 0 0 5.3%;
        }
        @include config.mq() {
          padding: 0 0 0 8%;
        }
        a{
          @include mixin.menuline();
          display: inline-block;
          &:hover{
            letter-spacing: 3px;
            @include config.mq() {
              letter-spacing: 0.8px;
            }
          }
        }
      }
    }
  }

  &__button{
    position: absolute;
    outline: none;
    border: none;
    top: 0;
    right: 0;
    width: 80px;
    height: 75px;
    background: #FFF;
    z-index: 300;
    border: none;
    padding: 25px;
    transition: all .2s;
    display: none;
    @include config.mq() {
      display: block;
    }
    &:focus{
      outline: none;
    border: none;
    }
    &:before{
      content: "";
      position: absolute;
      height: 3px;
      background: config.$black;
      width: 35px;
      left: 20px;
      transition: all .5s;
    }

    span{
      position: absolute;
      height: 3px;
      background: config.$black;
      width: 35px;
      left: 20px;
      transition: all .5s;
    }
    &__line{
      top: 30px;
      transform-origin: top center;
    }
    &__hidden{
      bottom: 27px;
      transform-origin: bottom center;
    }
  }
}

.js-spmode{
  height: auto;
  max-height: 80vh;
  background: config.$white;
  .switch{
    transform: translateY(0);
  }
  .header__menu{
    transform: translateY(0);
    opacity: 1;
  }
  .header__cv{
    transform: translateY(0);
    opacity: 1;
  }
  
  .header__button{
    top: 100%;
    &:before{
      content: none;
    }
    span{
      left: 22px;
    }
    &__line{
      transform: rotate(45deg);
      top: 35px;
    }
    &__hidden{
      transform: rotate(-45deg);
      bottom: 38px;
    }
  }
  
}



_::-webkit-full-page-media, _:future, :root .header__logo h1{
  white-space: nowrap; 
}





_::-webkit-full-page-media, _:future, :root .header .switch input[type=checkbox] + label{
  min-height: 20px;
}

_::-webkit-full-page-media, _:future, :root .header .switch input[type=checkbox] + label::before{
  min-height: 18px;
}



