@use "../config/config"as config;
@use "../mixin/mixin"as mixin;

.header {
  position: absolute;
  top:0;
  left: 0;
  padding: 80px 0 0;
  height: 100vh;
  width: 100%;

  @include config.mq(md) {
    padding: 5.9% 0 0;
  }

 
  &__logo {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding-left: 70px;
    position: relative;
    z-index: 1;
    @include config.mq(md) {
      padding: 0 0 0 5.3%;
    }

    h1 {
      font-weight: 700;
      line-height: 1;
      margin-top: -6px;
     
      a {
        @include mixin.font_vw(24);
        @include mixin.menuline();
        &:before{
          top: 13%;
        }
        @include mixin.menuhover();
        span{
          animation: logo linear .2s;
        }
      }

      margin-right: 15px;

      @include config.mq(md) {
        margin-right: 1.2%;
      }

    }
  }

  &__cv {
    position: absolute;
    right: 0;
    top: 6%;
    right: 5.3%;
    .btn{
      @include mixin.btn();
    }
  }

  .switch {
    position: relative;
    margin-top: -5px;
    min-width: 70px;

    input[type="checkbox"]{
      display: none;
      & + label{
        @include mixin.width_vw(83);
        @include mixin.font_vw(12);
        border-radius: 20px 20px;
        background: #e8e5df;
        position: relative;
        display: block;
        padding: 5% 5px 5% 33%;
        line-height: 1;
        letter-spacing: 0.02em;
        cursor: pointer;
        color: config.$glay;
        transition: .5s all;
        &::before {
          content: "";
          width: 18%;
          padding-top: 18%;
          background: #FFF;
          border-radius: 50%;
          position: absolute; 
          top: 12%;
          left: 5%;
          box-shadow: 0px 1px 0px 0px rgba(80, 80, 80, 0.42);
          transition: .5s all;
        }
      }
      &:checked + label{
        background: #2d2d2d;
        padding: 5% 5px 5% 20%;
        &::before {
          left: 78%;
        }
      }
    }
   

   
  }

  &__menu {
    @include mixin.font_vw(20);
    
    ul {
      position: relative;
      z-index: 1;
      li {
        margin-bottom: 15px;
        padding-left: 70px;
        position: relative;
        @include config.mq(md) {
          padding: 0 0 0 5.3%;
        }
        a{
          @include mixin.menuline();
          display: inline-block;
          &:hover{
            letter-spacing: 3px;
          }
        }
      }
    }
  }

  &__button {
    display: none;
  }
}