@use "../config/config" as config;
@use "../mixin/mixin"as mixin;
@use "../modules/animations"as anime;

.works{
    height: 100vh;
    background: config.$normal_glay;
    display: flex;
    align-items: center;
    @include config.mq() {
        display: block;
        height: auto;
        padding:50px 0;
    }
    .wrap{
        @include mixin.width_vw(1000);
        margin:0 auto;
        position: relative;
        @include config.mq() {
            width: 100%;
        }
    }
    
    &__img{
        position: relative;
        width: 62%;
        height: 55vh;
        overflow: hidden;
        background: config.$dark_glay;
        img{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;  
        }
        &::before{
            position: absolute;
            top: 50%;
            left: 50%;
            content: "PRIVATE";
            transform: translate(-50%,-50%);
            @include mixin.font_vw(56);
            color: config.$white;
        }
        
        @include config.mq() {
            width: 100%;
            height: 40vh;
        }
        
    }
    &__detail{
        position: absolute;
        bottom: -10%;
        right: 0;
        @include mixin.width_vw(560);
        background: config.$white;
        padding:0 5% 0;
        height: 45vh;
        min-height: 330px;
        
        border-left: solid 1px config.$black;
        @include config.mq() {
           position: relative;
           width: calc(100% - 16%);
           margin: -20px auto 0;
           padding:0 36px 20px;
        }
        
        &::before{
           content: "";
           position: absolute;
           left: 0;
           top: 0;
           width: 8px;
           height: 100%;
           background-image: repeating-linear-gradient(45deg, transparent, transparent 4px, rgba(0, 0, 0, 1) 4px, rgba(0, 0, 0, 1) 6px );
        }
        ul{
            position: relative;
            height: 100%;

           
           
            li{
                position: absolute;
                top: 5%;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                padding-top: 5vh;
                @include config.mq() {
                    padding-top: 35px;
                }
                
            }
        }
        .js-show{
            opacity: 1;
            top:0;
            transition: all .5s;
            transition-delay: .3s;
            z-index: 1;
        }
        
        &__title{
            h4{
                @include mixin.font_vw(26);
                line-height: 1.4;

                
                @include config.mq() {
                    font-size:2.8vh;
                    line-height: 1.4;
                }
            }
            p{
                @include mixin.font_vw(14);
                font-family: 'Notosans';
                @include config.mq() {
                    font-size:1.6vh;
                }
            }
            margin-bottom: 2vh;
            @include config.mq() {
                margin-bottom: 5px;
            }
        }
        &__text{
            p{
                
                @include mixin.font_vw(16);
                line-height: 2;
                font-family: 'Notosans';
                @include config.mq() {
                    font-size: 2vh;
                }
            }
            margin-bottom: 20px;
        }
        &__tags{
            p{
                display: inline-block;

                @include mixin.font_vw(14);
                &:before{
                    content: "-";
                    margin-right: 5px;
                    line-height: 1.8;
                }
                @include config.mq() {
                    
                    @include mixin.font_vw(28);
                }
            }
            margin-bottom: 4%;
            @include config.mq() {
                margin-bottom: 5px;
            }
        }
        &__link{

            a{
                display: inline-block;
                padding:3% 10%;
                border: config.$black solid 1px;
                position: relative;
                @include config.mq() {
                    @include mixin.font_vw(32);
                    padding: 5% 20%;
                    width: 100%;
                    text-align: center;
                    
                }
                &::after {
                    content: "";
                    position: absolute;
                    transition: .3s all;
                    width: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 85%;
                    height: 1px;
                    background: config.$black;

                }
                &:hover {
                    &::after {
                      width: 30%;
                    }
                    @include config.mq() {
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    h3{
        position: absolute;
        color: config.$white;
        @include mixin.font_vw(100);
        bottom: calc(100% - 5%);
        right: 0;
        font-weight: 800;
        line-height: 1;
        letter-spacing: 5px;
        @include config.mq() {
            @include mixin.font_vw(150);
            right: -8%;
        }
    }
}

.splide{
    width: 80%;
    @include config.mq() {
        width: 100%;
    }
    &__track{
        overflow: visible;
    }
    &__arrows{
        position: absolute;
        bottom: -16%;
        right: -25%;
        z-index: 2;
        button{
            width: 65px;
            height: 65px;
            background:config.$black;
            color: config.$white;
            outline: none;
            letter-spacing: 0;
            border: none;
            margin-left: 1px;
        }
        @include config.mq() {
            width: 100%;
            display: flex;
            justify-content: space-between;
            bottom: calc(50% - 50px);
            right: 0;
            button{
                width: 50px;
                height: 50px;
                font-size: 4vw;
            }
        }
    }
}